

ul {
    list-style: none;
}

.main-nav-bar ul  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}


.nav-item {
    flex-grow: 2;
    font-size: .8rem;
    text-align: center;
}

.nav-link {
    color: aliceblue;
}

.fi {
    font-size: 1.7rem;
}

.google {
    font-size: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

